.banner{
	background-color: gray ;
	color: black;
	text-align: center;
}

.titulo{
	margin-top: 25px;
}
.logo{
	margin-top: 5px;


}

.pie{
	background-color: gray;
}

footer{
	text-align: center;
	padding: 30px;
	color: black;
}

.texto{
	text-align: center;
	margin-top: 20px:;
	padding: 30px;
	color:black;
	background: #E8E9EC;
}

h2{
	text-align: center;
	background: gray;

}
 .graf{
 	padding: 30px;
 	background: #E8E9EC;
 	color:black;

 }



